<ul class="sp-nav sp-nav-dropdown">
  <li>
    <a href="{% url 'home' %}">홈</a>
  </li>

  <li>
    <a href="{% url 'inventory:ingredient_list' %}">식자재</a>
    <div class="sp-submenu">
      <a href="{% url 'inventory:ingredient_list' %}#stock">재고 현황</a>
      <a href="{% url 'inventory:ingredient_list' %}#ingredient-master">식자재 기준정보</a>
      <a href="{% url 'inventory:ingredient_create' %}">식자재 등록</a>
      <a href="{% url 'inventory:ingredient_upload' %}">엑셀 일괄 등록</a>
      <a href="{% url 'inventory:inventory_log_create' %}">입출고 등록</a>
    </div>
  </li>

  <li>
    <a href="{% url 'meals:mealplan_list' %}">식단</a>
    <div class="sp-submenu">
      <a href="{% url 'meals:mealplan_list' %}">월간 식단표</a>
      <a href="{% url 'meals:mealplan_create' %}">일간 식단 등록</a>
      <a href="{% url 'meals:weekly_mealplan_create' %}">주간 식단 등록</a>
      <a href="{% url 'meals:monthly_mealplan_create' %}">월간 식단 등록</a>
      <a href="{% url 'meals:mealplan_bulk_upload' %}">CSV/XLSX 일괄 등록</a>
      <a href="{% url 'meals:menu_list' %}">메뉴·레시피</a>
    </div>
  </li>

  <li>
    <a href="{% url 'forecasting:prediction_calendar' %}">식수 예측</a>
    <div class="sp-submenu">
      <a href="{% url 'forecasting:prediction_calendar' %}">예측 캘린더</a>
      <a href="{% url 'forecasting:prediction_create' %}">예측 실행</a>
      <a href="{% url 'forecasting:prediction_list' %}">결과 목록</a>
      <a href="{% url 'forecasting:ingredient_requirement' %}">식재료 산출</a>
    </div>
  </li>

  <li>
    <a href="{% url 'procurement:home' %}">발주</a>
    <div class="sp-submenu">
      <a href="{% url 'procurement:order_from_mealplan' %}">식단기반 발주</a>
      <a href="{% url 'procurement:order_create' %}">간편 발주</a>
      <a href="{% url 'procurement:order_list' %}">발주 목록</a>
    </div>
  </li>

  <li>
    <a href="{% url 'docs_index' %}">문서화</a>
    <div class="sp-submenu">
      <a href="{% url 'docs_index' %}">문서화 홈</a>
      <a href="{% url 'docs_index' %}#meal-docs">식단 문서화</a>
      <a href="{% url 'docs_index' %}#stock-docs">수불 현황</a>
      <a href="{% url 'docs_index' %}#order-docs">발주 내역</a>
    </div>
  </li>

  {% if user.is_staff %}
    <li><a href="/admin/">관리</a></li>
  {% endif %}
</ul>
